<html>
    <head>
        <title>Blog de Mauro</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Mauro Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>No se que corno poner aca</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Aca tampoco se me ocurre nada</p>
        </div>
    </body>
</html>